.header{
    width: 100%;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    font-size: 48px;
    letter-spacing: 5px;
}
.header label input{
    margin-left: 10px;
}